@page
@model IndexModel
@{
    ViewData["Title"] = "Index Page Title";
}

<a class="govuk-link" asp-page="/TestFolder/TestPage">Test Page</a>
<a class="govuk-link" asp-page="/TestFolder/TestRequestPage">Test Request Page</a>
